<app-navbar-soutenance></app-navbar-soutenance>

<div class="container mt-4">
  <h2 class="text-center text-light">Passage des Soutenances</h2>

  <table class="table table-dark table-striped mt-3">
    <thead>
    <tr>
      <th>Soutenance</th>
      <th>Élève</th>
      <th>Groupe</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let passage of passages">
      <td>{{ passage.soutenance.titre }}</td>
      <td>{{ passage.eleve.nom }} {{ passage.eleve.prenom }}</td>
      <td>{{ passage.groupe.nom }}</td>
      <td>{{ passage.date | date:'dd/MM/yyyy' }}</td>
      <td>
        <button *ngIf="estProf()" class="btn btn-danger btn-sm" (click)="removePassage(passage.idPassage)">
          <i class="bi bi-trash"></i> Supprimer
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="estProf()">
    <h3 class="mt-4">Ajouter un Passage de Soutenance</h3>
    <div class="card p-3 shadow">
      <div class="mb-3">
        <label class="form-label">Sélectionner une Soutenance</label>
        <select class="form-select" [(ngModel)]="newPassage.soutenance.idSoutenance">
          <option *ngFor="let soutenance of soutenances" [value]="soutenance.idSoutenance">
            {{ soutenance.titre }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Sélectionner un Groupe</label>
        <select class="form-select" [(ngModel)]="newPassage.groupe.idGroupe">
          <option *ngFor="let groupe of groupes" [value]="groupe.idGroupe">
            {{ groupe.nom }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Date de Passage</label>
        <input type="datetime-local" class="form-control" [(ngModel)]="newPassage.date">
      </div>
      <button class="btn btn-primary w-100" (click)="addPassage()">Ajouter</button>
    </div>
  </div>
</div>
