<div class="container mt-4">
  <h1 class="text-center">Bienvenue sur SAE Manager</h1>
  <p class="text-center">Plateforme de gestion des SAEs et des soutenances.</p>

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Gérer les SAEs</h5>
          <a routerLink="/saes" class="btn btn-primary">Accéder</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Soutenances</h5>
          <a routerLink="/soutenances" class="btn btn-primary">Accéder</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Gestion du Jury</h5>
          <a routerLink="/jury-soutenance" class="btn btn-primary">Accéder</a>
        </div>
      </div>
    </div>
  </div>
</div>
