<div *ngIf="estProf()" class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/soutenances">
        <i class="bi bi-person-walking"></i> Ajout
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/passages-soutenance">
        <i class="bi bi-person-walking"></i> Passages
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/notes-soutenance">
        <i class="bi bi-clipboard"></i> Notes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/jury-soutenance">
        <i class="bi bi-people"></i> Jury
      </a>
    </li>
  </ul>
</div>
